<!DOCTYPE html>
<html ng-app="app" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Index</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controllers/cliente-controller.js"></script>
    </head>
    
    <body>
        
    </body>
    
</html>
